html {
  /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
     */
  font-size: 10px;
}

body {
  /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

main {
    background-color: #e0e0e0;
    margin: 30px 10px;
    border-radius: 6px;
    padding: 20px 30px;
    color: black;
}

header {
  padding: 10px;
  margin-bottom: 10px;
}


h1 {
  font-weight: 600;
  font-size: 4.8rem;
  margin-bottom: 0;
  letter-spacing: -0.03em;
}

/* Styles for the image section */
#img-traveler {
  width: 100%;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  border-radius: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
}

img {
  max-width: 84%;
  min-width: 30%;
  display: block;
  margin: auto;
  overflow-clip-margin: content-box;
  border-radius: 3px;
}

#img-caption {
  margin-top: 10px;
  font-size: 1.4rem;
}

/* Styles for the form title */
#headline {
  margin: 50px 0;
  text-align: center;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}

a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}

