html {
  /* Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
     */
  font-size: 10px;
}

body {
  /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

main {
    background-color: #e0e0e0;
    margin: 30px 10px;
    border-radius: 6px;
    padding: 20px 30px;
    color: black;
}

header {
  padding: 10px;
  margin-bottom: 10px;
}


h1 {
  font-weight: 600;
  font-size: 4.8rem;
  margin-bottom: 0;
  letter-spacing: -0.03em;
}

p {
    font-size: 1.8rem;
    margin-top: 0;
    color: rgb(37, 37, 37);
}

/* Styles for the image section */
#img-traveler {
  width: 100%;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  border-radius: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
}

img {
  max-width: 84%;
  min-width: 30%;
  display: block;
  margin: auto;
  overflow-clip-margin: content-box;
  border-radius: 3px;
}

#img-caption {
  margin-top: 10px;
  font-size: 1.6rem;
}


h3 {
  margin: 50px 0;
  text-align: center;
}

a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}



/* Styles for the form section */
form {
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
  max-width: 600px;
  margin: 10px auto;
  text-align: left;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-green);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}

ul {
    list-style: none;
}